<h1>FuelStations</h1>

<%= form_tag root_url, method: "get" do %>
  <div>
    <%= label_tag :origin, "Origin" %>
    <%= text_field_tag :origin, params[:origin]  %>
  </div>
  <div>
    <%= label_tag :destination, "Destination" %>
    <%= text_field_tag :destination, params[:destination] %>
  </div>
  <%= submit_tag "Search" %>
<% end %>

<%= react_component 'Map',
    props: { mapbox_api_key: ENV['MAPBOX_API_KEY'] } %>

<% if @stations.size > 0 %>
  <%= render 'table', stations: @stations %>
<% end %>
